/*  Obligatorio 1 realizado por: Sofía Otero (238824) y Manuel Garrido (251152) */

/* General */
*{
    margin-left:0;
	margin-top:0;
    margin-right:0;
    font-family: "Helvetica", Times, serif
}
h4 {
    padding-top: 20px;
}
article{
    padding-left: 1%;
}
footer {
	background-color: #077368;
	text-align: center;
	color:white;
}

/* Header */
header{
	height: fit-content;
	background-color: #075159;
}
.banner{
	height:120px;
	background-color: #14274F;
}
#bannerinicio {
	background-color: #075159;
	width:35%;
}
.bannerf {
	background-color: #075159;
	width:35%;
}
.tablabanner{
	background-color: #075159;
}

/* Menú */
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #077368;
    padding-left: 25%;
}
.li-menu {
	float: left;
}
.li-menu a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.li-menu a:hover {
	background-color:#075159;
}

/* Input - Buttons Hover */
input{
    border-radius: 5px;
    height: 25px;
}
input:hover{
    border-color: #075159;
}
.btn:hover {
    background-color:#075159;
    color: white;
}
.btn{
    height: 30px;
}
select{
    height: 30px;
    border-radius: 5px;
}
select:hover{
	border-color:#075159;
}

/* Listas - Tablas */
ol {
    color: green;
}
#li-verde-padding{
    padding-top: 16px;
}
.tabla-infoEmpleados{
    border: 2px solid black;
    margin-left: 25%;
    width:50%
}
.td-nombre{
    height: 50px;
}

/* Imágenes */
.semaforo{
    width:55px;
}
.Icono {
    width:2%;
}

/* Otros */
#tematicasFrecuentes {
    font-weight: bold;
}
.SeccionConFondo {
    background-color: #e5ffff;
}
.radio{
    height:auto;
}

/* No mostrar menú en la impresión*/
@media print{
    .no-imprimir, .no-imprimir *{
      display: none !important;
    }
  }