/*  Obligatorio 1 realizado por: Sofía Otero (238824) y Manuel Garrido (251152) */

*{
    margin-left:0;
    margin-right:0;
    font-family: "Helvetica", Times, serif

}
input{
    border-radius: 5px;
    height: 25px;
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #47648C;
    padding-left: 25%;
}
.li-menu {
	float: left;
}

.li-menu a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

article{
    padding-left: 1%;
}

footer {
	background-color: #47648C;
	text-align: center;
	color:white;
}

.li-menu a:hover {
	background-color:#1F2058;
}
.btn:hover {
    background-color:#1F2058;
    color: white;
}
.btn{
    height: 30px;
}
select{
    height: 30px;
    border-radius: 5px;
}
.li-verde{
    color: green;
}

.tabla-infoEmpleados{
    border: 2px solid black;
    margin-left: 25%;
    width:50%
}

.td-nombre{
    height: 50px;
}

.td-semaforo{
    padding-left: 1%;
}

.SeccionConFondo {
    background-color: #F2F5FA;
}

.Icono {
    width:2%;
}

#tematicasFrecuentes {
    font-weight: bold;
}

@media print{
    .no-imprimir, .no-imprimir *{
      display: none !important;
    }
  }
.radio{
    height:auto;
}
